.Container {
    display:flex;
    flex-direction: flex-end;
    padding:10px;
    background-color: #e1dae6;
    justify-content: flex-end;
    
}

.btn {
    color: grey;
    
}

.btn:hover{
    cursor:pointer;

}